# Python cache
__pycache__/
*.py[cod]
*$py.class
.env
venv/
.venv/

# Node / Frontend
node_modules/
dist/
.DS_Store

# Project-specific temporary uploads
backend/uploads/*
uploads/*
!backend/uploads/.gitkeep
!uploads/.gitkeep